# Ignore all files and directories by default
**

# Allow files and directories that are necessary for the builds
!cerberus_report_backend/
!cerberus_campaigns_backend/
!emmons_frontend/
!cloudbuild.yaml

# Ignore specific files and directories that are not needed
cerberus_frontend/
.git/
.gitignore
README.md
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.dart_tool/
.flutter-plugins-dependencies
.metadata
pubspec.lock
build/
web/
test/
.idea/
.vscode/
.history/
emmons_frontend/new
emmons_frontend/nginx.conf
emmons_frontend/test/
emmons_frontend/web/
cerberus_report_backend/__pycache__/
cerberus_report_backend/api_output.log
cerberus_report_backend/health_check_base_output.json
cerberus_report_backend/health_check_retry_script.sh
cerberus_report_backend/health_check_script.sh
cerberus_report_backend/municipalities_output.json
cerberus_report_backend/test_db_output.json
cerberus_campaigns_backend/tests/
cerberus_campaigns_backend/docs/
cerberus_campaigns_backend/database_schema.sql
cerberus_campaigns_backend/.env.example
cerberus_campaigns_backend/tests/
cerberus_campaigns_backend/app/models/
cerberus_campaigns_backend/app/routes/
cerberus_campaigns_backend/app/services/
cerberus_campaigns_backend/app/
cerberus_campaigns_backend/run.py
cerberus_campaigns_backend/requirements.txt
cerberus_campaigns_backend/Dockerfile
cerberus_campaigns_backend/.gitignore
cerberus_campaigns_backend/README.md
emmons_frontend/README.md
emmons_frontend/analysis_options.yaml
emmons_frontend/assets/
emmons_frontend/lib/
emmons_frontend/pubspec.yaml
emmons_frontend/Dockerfile
emmons_frontend/.gitignore
emmons_frontend/.metadata
cerberus_report_backend/Dockerfile
cerberus_report_backend/README.md
cerberus_report_backend/api.py
cerberus_report_backend/notification_sender.py
cerberus_report_backend/requirements.txt
cerberus_report_backend/schema.sql
cerberus_report_backend/scraper.py
cerberus_report_backend/test_api.py
cerberus_report_backend/test_notification_sender.py
cerberus_report_backend/test_scraper.py
cerberus_frontend/README.md
cerberus_frontend/assets/
cerberus_frontend/lib/
cerberus_frontend/pubspec.yaml
cerberus_frontend/web/
cerberus_frontend/.dart_tool/
cerberus_frontend/.flutter-plugins-dependencies
cerberus_frontend/pubspec.lock
cloudbuild.yaml
